@using CustomersAjax.Models
@model Tuple<List<Customer>, Customer>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Customer</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken();
            var selected = false;

            foreach (var customer in Model.Item1)
            {
                if(Model.Item1.IndexOf(customer) == 0)
                {
                    selected = true;
                }
                //returns radio button input element for each property taht is represented by a specific expression - CustomerNumber
                <div>
                    @Html.RadioButton("CustomerNumber", customer.ID, selected)
                    @Html.Label(customer.Name)
                </div>
            }
            <input type="button" id="submitButton" value="Display Details" />
        }
    </div>
</body>
</html>
