@model CustomersAjax.Models.Customer

<h3>Customer Details</h3>
@Html.DisplayNameFor(m => m.ID) :@Html.DisplayFor(m => m.ID)
<br />
@Html.DisplayNameFor(m => m.Name) :@Html.DisplayFor(m => m.Name)
<br />
@Html.DisplayNameFor(m => m.Age) :@Html.DisplayFor(m => m.Age)
<br />
<p>The updated time is @DateTime.Now</p>